<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"></html>
<head>
    <meta charset="utf-8" />
    <title><%= title %> </title>
    <link rel="stylesheet" type="text/css" href="css/display.css" />
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
        </script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js">
        </script>
    

</head>
<body>
<script>
 $(document).ready(function() {
    $('#example').DataTable({
        "pageLength": 5,
        "aLengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "All"]]
    } );
} );
</script>
    <a href="/">Home</a>
  <div class="card text-center">
        
        <h1 style="background-color:gainsboro;"> List of Users</h1>
       </div>
        <div style="width: 70%; margin: auto; margin-top: 2em;">
       
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                

        <thead>
                <th scope="col">
                        <div>
                            <label>Survey Id</label>
                        </div>
                    </th>
            <th scope="col">
                <div>
                    <label>Game Genre</label>
                </div>

            </th >
            <th scope="col">

                <div>
                    <label>Game Played per year</label>

                </div>

            </th>
           
         
               
           <th scope="col">
                <div>
                    <label>Age</label>
                </div>

            </th>
                

            <th scope="col">
                    <div>
                        <label>Action</label>
                    </div>
    
                </th>
        </thead>


        <% surveys.forEach(function(survey){ %>

        <tr>
                <td>
                        <%= survey.surveyId %>
                </td>
            <td>
                <%= survey.gameGenre %>

            </td>
            <td>
                <%= survey.daysPerYear %>

            </td>
            
            <td>
                <%= survey.age %>

            </td>


            <td>
                <a href="/newsurvey/<%= survey.surveyId%>"><button type="button" class="btn btn-info">Update</button></a> | 
                <a href="/deletesurvey/<%= survey.surveyId%>"><button type="button" class="btn btn-info">Delete</button></a>

            </td>
            

        </tr>

        <% })%>

    </table>

</div>

<% include ./partials/footer.ejs %>